button {
   font-size: 50px; 
}

input {
    transform: scale(2);
}

p {
    display: none;
}

label {
    width: 200px;
    margin-top: 10px;
}

input {
    width: min-content;
    margin-right: 20px;
}

#settings {
    display: flex;
    flex-direction: column; 
}

